[Unit]
Description=Llama.cpp Server Service
After=network.target

[Service]
User=USER_TARGET
Group=USER_TARGET
Type=simple

ExecStart=/usr/bin/llama-server \
  --models-preset %h/.llama.cpp/models.ini \
  --host 0.0.0.0 \
  --port 8080

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target