[Unit]
Description=Llama.cpp Server Service
After=network.target

[Service]
User=ваш_логин
Group=ваш_логин
Type=simple

ExecStart=/usr/bin/llama-server \
  --models-dir models\
  --ctx-size ${CTX_SIZE} \
  --threads ${THREADS} \
  --threads-batch ${THREADS} \
  --batch-size ${BATCH_SIZE} \
  --ubatch-size ${UBATCH_SIZE} \
  --port ${PORT} \
  --host ${HOST} \
  ${EXTRA_OPTS}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target